<template id="messageTemaplate">    
    <div id="item">
        <div class="text-info small">
            <span></span>
            <span class="float-right text-muted"></span>
        </div>
        <div name="message"></div>
    </div>
    <br />
</template>
